<div class="introduce">
	<h2 class="title-theme__h2">Angular 19</h2>
	<p>
		released on November 19, 2024, introduces several significant enhancements aimed at improving
		developer experience, application performance, and flexibility
	</p>

	<p-fieldset legend="Key Features:">
		<p>1. Incremental Hydration (Developer Preview)</p>
		<p>2. Standalone Components by Default</p>
		<p>3. Event Replay Enabled by Default</p>
		<p>4. Route-Level Render Modes (Developer Preview)</p>
		<p>5. Stabilization of Core Reactivity Primitives</p>
	</p-fieldset>

	<br />
	<p>
		Angular 19 brings a host of improvements that streamline development and enhance application
		performance. While some features are in developer preview and may undergo changes, they offer
		promising capabilities for building efficient and scalable web applications. Developers are
		encouraged to explore these features, keeping in mind their experimental status, and provide
		feedback to the Angular team for further refinement.
	</p>
</div>
