<div class="introduce">
	<h2 class="title-theme__h2">Angular 19</h2>
	<p>
		Được phát hành vào ngày 19 tháng 11 năm 2024, giới thiệu một số cải tiến quan trọng nhằm cải
		thiện trải nghiệm của nhà phát triển, hiệu suất ứng dụng và tính linh hoạt
	</p>

	<p-fieldset legend="Key Features:">
		<p>1. Incremental Hydration (Developer Preview)</p>
		<p>2. Standalone Components by Default</p>
		<p>3. Event Replay Enabled by Default (liên quan tới Hydration)</p>
		<p>4. Route-Level Render Modes (Developer Preview)</p>
		<p>5. Stabilization of Core Reactivity Primitives</p>
	</p-fieldset>
</div>
