<div class="introduce">
	<h2 class="title-theme__h2">Angular 17</h2>
	<p>
		Angular version 17, released on November 8, 2023, introduces several significant enhancements
		aimed at improving performance, developer experience, and accessibility
	</p>

	<p-fieldset legend="Key Features:">
		<p>1. Built-in Control Flow Syntax</p>
		<p>2. Performance Enhancements with Esbuild</p>
		<p>3. Deferrable Views for Optimized Loading</p>
		<p>4. Enhanced Server-Side Rendering (SSR) Support</p>
	</p-fieldset>
</div>
