<div class="introduce">
	<h2 class="title-theme__h2">Angular 18</h2>
	<p>
		Được phát hành vào ngày 22 tháng 5 năm 2024, giới thiệu một số tính năng và cải tiến quan
		trọng nhằm nâng cao trải nghiệm của developer và application performance.
	</p>

	<p-fieldset legend="Key Features:">
		<p><b>1. Experimental Zoneless Change Detection</b></p>
		<p><b>2. Deferrable Views and Built-in Control Flow</b></p>
		<p><b>3. Introduction of &#64;let Syntax</b></p>
	</p-fieldset>

	<p-fieldset legend="Pros">
		<p>
			- <b>Performance Improvements:</b> Việc giới thiệu zoneless change detection cung cấp khả
			năng tăng performance bằng cách loại bỏ chi phí liên quan đến zone.js. Sự chuyển dịch sang
			zoneless change detection và deferrable views có thể dẫn đến cải thiện application
			performance và reduced bundle sizes.
		</p>
		<p>
			- <b>Simplified Templates:</b> The new control flow and &#64;defer syntaxes streamline
			template logic, making code more readable and maintainable.
		</p>
		<p>
			- <b>Enhanced Developer Resources:</b>
			Trang web tài liệu được cải tiến cung cấp môi trường trực quan hơn và nhiều tài nguyên hơn
			cho các nhà phát triển.
		</p>
	</p-fieldset>

	<p-fieldset legend="Cons">
		<p>
			- <b>Experimental Features:</b> The zoneless change detection vẫn đang trong giai đoạn thử
			nghiệm, có thể gây ra rủi ro nếu áp dụng vào production env mà không được thử nghiệm kỹ
			lưỡng.
		</p>
		<p>
			- <b>Learning Curve:</b> Việc áp dụng syntaxes và features mới có thể yêu cầu developers
			phải đầu tư thời gian vào việc tìm hiểu và tái cấu trúc codebases hiện có.
		</p>
	</p-fieldset>

	<br />
	<p>
		====> Tóm lại, Angular 18 mang đến những features tiên tiến giúp nâng cao performance và trải
		nghiệm của developer. Tuy nhiên, nên áp dụng thận trọng và thử nghiệm kỹ lưỡng, đặc biệt là
		liên quan đến các chức năng thử nghiệm
	</p>
</div>
